
<script src="https://scripts.bhstudios.org/assets/v2/jQuery/jquery-preferred.js">/* jQuery */</script>
<script src="https://scripts.bhstudios.org/assets/v2/general/js/lib/kotlin.js">/* Kotlin/JS for BHStudios General Script */</script>
<script src="https://scripts.bhstudios.org/assets/v2/general/js/BHStudios%20General%20Scripts.js">/* BHStudios General Script */</script>

<script>
if (undefined === window.localStorage["org.bh.theme"]) {
    window.localStorage["org.bh.theme"] = JSON.stringify({"color":"{{ site.default-theme.color | default: 'water' }}","brightness":"{{ site.default-theme.brightness | default: 'dark' }}"})
}
</script>
