<header class="app-bar">
    {%- assign navigation-back = include.navigation-back | default: page.navigation-back %}
    {%- assign subtitle = include.subtitle | default: page.app-bar.subtitle | default: page.subtitle %}
    {%- assign title = include.title | default: page.app-bar.title | default: page.title %}
    {%- if navigation-back %}
    <a href="{{ navigation-back | replace: true, '/' }}" {%- if navigation-back == "true" %} onclick="window.history.back(); return false;" {%- endif %} class="flat button   back-to-root-link"><i class="material-icons    back-to-root-icon   invisible">arrow_back</i>
        <h1 class="title"><span class="title-text">{{ title }}</span>
            {%- if subtitle -%} <span class="subtitle-text">{{ subtitle }}</span>{% endif %}</h1></a>
    {%- else %}
    <a href="#" class="flat button show-sidebar-button" onclick="return false;"><i class="material-icons">menu</i></a>
    <a href="/" class="flat button   back-to-root-link"><h1 class="title"><span class="title-text">{{ title }}</span>{% if subtitle %}<span class="subtitle-text">{{ subtitle }}</span>{% endif %}</h1></a>
    {%- endif %}
    <span class="layout-placeholder"></span>
</header>
