---
---

@import "general";



:root {
    --brand-color-primary: {{ site.brand.color.primary | default: "#1E007C" }};

    --brand-color-primary-dark: {{ site.brand.primary-color-dark | default: "#1E007C" }};
}



main {
    transform: none;
}



// Since these can be critical, they must be loaded last so that no other style overrides them
@import "critical-styles";