---
---

@import "general";
@import url("https://stylesheets.bhstudios.org/assets/v2/material/material-colors-vars.css");



:root {
    --brand-color-primary: {{ site.brand.color.primary | default: "#1E007C" }};

    --brand-color-primary-dark: {{ site.brand.primary-color-dark | default: "#1E007C" }};
}



main {
    transform: none;
}
