---
layout: general
---

{{ content }}

<div class="posts   link-style-underline-on-hover   flex-row flex-wrap flex-horiz-stretch flex-horiz-center flex-vert-top">
    {%- for post in site.posts %}
    {% if post.categories contains 'Separator' %}
    <article class="post separator">
        <h1>{{ post.title }}</h1>
        <div class="entry">
            {{ post.excerpt }}
        </div>
    </article>
    {%- else %}
    <article class="post   flex-column flex-vert-space-between   card">
        <section>
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

            {%- if post.content-warning %}
            {% include content-warning.html
                message=post.content-warning
                compact=true
                %}
            {%- endif %}

            <div class="entry">
            {%- if post.categories contains 'Micro' %}
                {{ post.content }}
            {%- else %}
                {{ post.excerpt }}
            {%- endif %}
            </div>

            {% if post.social-preview-image %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="preview-link">
                <img src="{{ post.social-preview-image }}" class="preview" />
            </a>
            {% endif %}
        </section>

        <footer class="flex-row flex-horiz-space-between flex-vert-bottom">
            <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%a. %F at %R" }}</time>

            <ol class="chips   plain   flex-row flex-wrap flex-horiz-center flex-vert-center">
                {%- for category in post.categories %}
                {%- if site.post-list.categories-to-display contains category
                    or site.post-list.display-all-categories %}
                <li><span class="chip" disabled data-category-name="{{ category }}">{{ category }}</span></li>
                {%- endif %}
                {%- endfor %}
            </ol>

            {%- unless post.categories contains 'Micro' %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="small low-emphasis button">{{ page.read-more-button-text | default: "Read More" }}</a>
            {%- else %}
            <span class="placeholder"></span>
            {%- endunless %}
        </footer>
    </article>
    {% endif %}

    {%- endfor %}
</div>
