

@import "to-be-transferred";

@import "decorations";
@import "typography";



/*
 * Rules used on all pages:
 */

:root {
    min-width: 17em;
}


.app-bar {
    .title-text {
        text-transform: none;
    }
}


.container {
    max-width: var(--desktop-medium-min-width);
}

.avatar {
    border-radius: 99in;
    max-width: 100%;
    
    .sidebar & {
        height: 4cm;
    }
}



hr {
    margin: 1cm 20%;
}



ol, ul {
    &.inline>li {
        display: inline-block;
    }
}
