

@import "decorations";
@import "typography";



/*
 * Rules used on all pages:
 */

:root {
    min-width: 17em;
}


.app-bar {
    .title-text {
        text-transform: none;
    }
}


.container {
    max-width: var(--desktop-medium-min-width);
}


.sidebar {
    .avatar {
        height: 4cm;
    }
}
