
:root {
    --light-border-color: var(--material-blue-gray-500);
}




.brightness-white,
.brightness-light {
    --light-border-color: var(--material-blue-gray-200);
}

.brightness-dark,
.brightness-black {
    --light-border-color: var(--material-blue-gray-700);
}

