
<nav class="sidebar   flex-column flex-vert-space-between{%- if include.class %} {{ include.class }} {%- endif -%}">
    <section>
        {%- unless include.emptyHeader | default: site.sidebar.emptyHeader %}
        <header>
            <figure>
                {%- assign headerImageUrl = include.headerImage_url | default: site.sidebar.headerImage.url %}
                {%- assign headerPicture = include.headerImage_picture | default: site.sidebar.headerImage.picture %}
                {%- if headerImageUrl -%}
                {% unless page.url == "/" -%} <a href="/"> {%- endunless %}<img src="{{ headerImageUrl }}" class="{{ include.headerImage_htmlClassNames | default: site.sidebar.headerImage.htmlClassNames }}"/> {%- unless page.url == "/" -%} </a> {%- endunless %}
                {%- elsif headerPicture %}
                {% unless page.url == "/" -%} <a href="/"> {%- endunless -%}
                    <picture>
                        {% for source in headerPicture.sources %}
                        {%- if forloop.last %}
                        <img src="{{ source.url | default: source }}" alt="{{ headerPicture.alt }}" class="{{ source.htmlClassNames }} {{ include.headerImage_htmlClassNames | default: site.sidebar.headerImage.htmlClassNames }}" />
                        {%- else %}
                        <source srcset="{{ source.url | default: source }}"
                            {%- if source.type %} type="{{ source.type }}" {%- endif %}
                            {%- if source.media %} media="{{ source.media }}" {%- endif %}
                            class="{{ source.htmlClassNames }} {{ include.headerImage_htmlClassNames | default: site.sidebar.headerImage.htmlClassNames }}" />
                        {%- endif %}
                        {%- endfor %}
                    </picture>
                {%- unless page.url == "/" -%} </a> {%- endunless %}
                {%- else -%}
                No header image supplied; <code>headerImage_url</code> and <code>site.sidebar.headerImage.url</code> were missing and <code>emptyHeader</code> nor <code>site.sidebar.emptyHeader</code> were not <code>true</code>
                {%- endif -%}
            </figure>
        </header>
        {%- endunless %}

        {%- if site.sidebar.defaultLinks %}
            {%- if include.links %}
                {%- assign links=site.sidebar.defaultLinks | concat: include.links %}
            {%- else -%}
                {%- assign links=site.sidebar.defaultLinks %}
            {%- endif -%}
        {%- else %}
            {%- assign links=include.links %}
        {%- endif %}

        {%- assign linksCount=links | size %}

        {%- unless linksCount == 0 %}
        <ul>
            {%- for link in links %}
            <li><a href="{{ link.url }}" class="button image-button">
                {%- if link.materialIcon -%}
                <i class="material-icons {%- if link.materialIconVariant -%} - {{- link.materialIconVariant -}} {%- endif -%}">{{ link.materialIcon }}</i>
                {%- elsif link.fontAwesomeIcon -%}
                <i class="{{ link.fontAwesomeIcon }}"></i>
                {%- endif -%}
                <span>{{ link.text }}</span></a></li>
            {%- endfor %}
        </ul>
        {%- endunless %}
    </section>

    {%- for sectionInclude in include.additionalSectionIncludes %}
    <section>
        {% include {{ sectionInclude }} %}
    </section>
    {%- endfor %}

    <section>
        <ul class="theme-color-selection-list">
            <li><a href="#Brightness-Dark"  onclick="return false" title="Dark"  class="color-swatch" theme-swatch-type="brightness" theme-swatch-value="dark" >Dark</a></li>
            <li><a href="#Brightness-Light" onclick="return false" title="Light" class="color-swatch" theme-swatch-type="brightness" theme-swatch-value="light">Light</a></li>
        </ul>
        <ul class="theme-color-selection-list">
            <li><a href="#Theme-Water" onclick="return false" title="Water" class="color-swatch" theme-swatch-type="color" theme-swatch-value="water">Water</a></li>
            <li><a href="#Theme-Earth" onclick="return false" title="Earth" class="color-swatch" theme-swatch-type="color" theme-swatch-value="earth">Earth</a></li>
            <li><a href="#Theme-Fire"  onclick="return false" title="Fire"  class="color-swatch" theme-swatch-type="color" theme-swatch-value="fire" >Fire</a></li>
            <li><a href="#Theme-Air"   onclick="return false" title="Air"   class="color-swatch" theme-swatch-type="color" theme-swatch-value="air"  >Air</a></li>
       <!-- <li><a href="#Theme-Magic" onclick="return false" title="Magic" class="color-swatch" theme-swatch-type="color" theme-swatch-value="magic">Magic</a></li> -->
        </ul>
    </section>
</nav>
