---
---

.hero {
    *:not(:first-child) {
        margin-top: 2em;
    }
    
    .avatar {
        max-width: 4in;
        max-width: calc(min(100%, 4in));
    }
}


.social {
    &.card {
        .service-name {
            margin: 0;
            text-align: start;
        }
    }
}
